PROJECT_NAME=UGC

REDIS_HOST=cs_redis
REDIS_PORT=6379

MONGO_HOST=mongors1n1
MONGO_PORT=27017

SERVICE_PROTOCOL=http
SERVICE_HOST=cs_fastapi
SERVICE_PORT=8000
SERVICE_API_VERSION=1

NGINX_PORT=80

SENTRY_DSN=https://5d27ecf53cdd482089e128911a4f2a3f@o1100842.ingest.sentry.io/6126299

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044